name: Deploy Infrastructure

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
        description: "tag"
jobs:
  run-env-script:
    name: Run Environment Script
    runs-on: ubuntu-24.04
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Make script executable
        run: chmod +x env-script.sh
      - name: Run script
        run: ./env-script.sh
        env:
          # This passes the 'tag' from the workflow input into the script's environment
          DEPLOY_TAG: ${{ inputs.tag }}
