name: Deploy Staging Environment

on:
  workflow_run:
    workflows: ["Run CI Workflow"]
    types:
      - completed
    branches: [develop]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
jobs:     

  display-environment:
    name: Display Environment
    runs-on: ubuntu-24.04
    env:
      REF: ${{ github.ref }}
    steps:
      - name: Dump full event JSON
        run: |
          echo "=== $GITHUB_EVENT_NAME payload ==="
          cat "$GITHUB_EVENT_PATH"
          echo "====================="
          echo "Branch: $GITHUB_REF"
          echo "Branch: $REF"
  deploy:
    name: Deploy to Staging
    needs: display-environment
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout develop code        
        uses: actions/checkout@v4
        with:
          # This pulls the branch name (e.g., 'develop') from the CI run
          ref: ${{ github.event.workflow_run.head_branch }}
      - name: Deploy code
        uses: ./.github/workflows/tool-deploy-infrastructure.yml
        #with:
          #tag: ${{ github.event.workflow_run.head_sha }}
    
